@model Testimonial
<img src="assets/img/testimonials/@Model.Image" class="testimonial-img" alt="">
<h3>@Model.Name</h3>
<h4>@Model.Position</h4>
<p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i> @Model.Desc
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
</p>
